.Pizze { 
    width:400px; 


}

h4 {
    font-size:30px;
    text-align:center;
    font-family:cursive;
    width:400px;
    position:relative;
    left : 3px;
    color:rgb(29, 14, 235);
   
    
}

img {
    position:relative;
    left:50px;
    top:30px;
    
}

p {
    text-align:center;
    font-family:'Times New Roman';
    font-size:20px;
}

.prezzo {
    font-size:30px;
}


.ordina {
    padding:16px 16px;
    margin-left:150px;
    font-size:20px;
    background-color:green;
    border-color:green;
    color:white;
}

.conteggio {
    position: relative;
    left:50px;
    bottom:20px;
    width:300px;
    text-align:center;
}

.cont {
    font-size:20px;
    margin:20px;
    background-color: red;
    border-color:red;
    color:white;
}

.dim {
    font-size:30px;
}

.mes {
    font-size:20px;
    color:red;
    font-family: cursive;
}

